/**
* c-pagination
*/
@import url('../../css/variables.css');

.c-pagination {
}

.c-pagination__total {
  display: inline-block;
  margin-right: 1em;
}

.c-pagination__pages {
  & > * {
    display: inline-block;
    text-align: center;
    line-height: 2;
    min-width: 2em;
    margin-right: 0.5em;
  }

  & a {
    color: inherit;
    background: color(var(--gray) a(0.1));
    border-radius: 3px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    outline-offset: 0;

    &.is-disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &.is-active,
    &:not(.is-disabled):hover {
      color: var(--primary-color);
      background: color(var(--primary-color) a(0.1));
    }
  }
}

