{
  "printWidth": 80,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "insertPragma": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore"
}
