/**
 * common
 */

body {
  font: 14px/1.6 sans-serif;
}

/**
 * typography
 */

.x-large {
  font-size: 3em;
}

.large {
  font-size: 1.5em;
}

.small {
  font-size: 0.875em;
}

.x-small {
  font-size: 0.75em;
}

/**
 * gird layout
 */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex > * {
  padding-left: 12px;
  padding-left: 0.75rem;
}

.flex > :first-child {
  padding-left: 0;
}

.flex > .stretch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* stylelint-disable function-whitespace-after */

.flex .col-1 {
    width: 8.33333%;
  }

.flex .col-2 {
    width: 16.66667%;
  }

.flex .col-3 {
    width: 25%;
  }

.flex .col-4 {
    width: 33.33333%;
  }

.flex .col-5 {
    width: 41.66667%;
  }

.flex .col-6 {
    width: 50%;
  }

.flex .col-7 {
    width: 58.33333%;
  }

.flex .col-8 {
    width: 66.66667%;
  }

.flex .col-9 {
    width: 75%;
  }

.flex .col-10 {
    width: 83.33333%;
  }

.flex .col-11 {
    width: 91.66667%;
  }

.content-wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * header
 */

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  line-height: 5;
  padding: 0 1em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__item {
  padding: 0 1em;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(150deg, #17a2e8 0%, #17e8a2 100%);
  padding-top: 10em;
  color: #fff;
}

/**
 * utils
 */

.transparent {
  background: transparent;
}
