@import url('../../styles/variables.css');
@import url('../../styles/animation.css');

/**
 * default button
 */
.c-button {
  box-sizing: border-box;
  display: inline-block;
  font-size: var(--form-font-md);
  height: var(--form-height-md);
  padding: 0 11px;
  border: 1px solid transparent;
  line-height: 1.2;
  background: color(var(--button-default-color) l(var(--button-lightness-normal)));
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:not([disabled]):hover {
    background-color: color(var(--button-default-color) l(var(--button-lightness-hover)));
    color: #fff;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em color(var(--button-default-color) l(var(--button-lightness-hover)) a(var(--focus-ring-opacity)));
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.6;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  & .c-icon:first-child {
    margin-right: 4px;
  }

  & .c-icon:last-child {
    margin-left: 4px;
  }

  & .c-icon:only-child {
    margin-left: -3px;
    margin-right: -3px;
  }

  & span:empty {
    display: none;
  }
}

/**
 * primary color
 */
.c-button--primary {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: #fff;

  &:not([disabled]):hover {
    background-color: color(var(--primary-color) l(var(--button-lightness-hover)));
    color: #fff;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2em color(var(--primary-color) a(0.4));
  }
}

/**
 * danger color
 */
.c-button--danger {
  border-color: var(--danger-color);
  background: var(--danger-color);
  color: #fff;

  &:not([disabled]):hover {
    background-color: color(var(--danger-color) l(var(--button-lightness-hover)));
    color: #fff;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2em color(var(--danger-color) a(var(--focus-ring-opacity)));
  }
}

/**
 * success color
 */
.c-button--success {
  border-color: var(--success-color);
  background: var(--success-color);
  color: #fff;

  &:not([disabled]):hover {
    background-color: color(var(--success-color) l(var(--button-lightness-hover)));
    color: #fff;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2em color(var(--success-color) a(var(--focus-ring-opacity)));
  }
}

/**
 * success color
 */
.c-button--warning {
  border-color: var(--warning-color);
  background: var(--warning-color);
  color: #fff;

  &:not([disabled]):hover {
    background-color: color(var(--warning-color) l(var(--button-lightness-hover)));
    color: #fff;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2em color(var(--warning-color) a(var(--focus-ring-opacity)));
  }
}

/**
 * flat style
 */
.c-button--flat {
  background: transparent;
  border-color: transparent;
  color: var(--text-color);

  &:not([disabled]):hover {
    background: color(var(--gray) l(var(--button-flat-hover-lightness)));
    color: var(--text-color);
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.07) inset;
    border-color: transparent;
  }

  &.c-button--primary {
    color: var(--primary-color);

    &:not([disabled]):hover {
      background: color(var(--primary-color) l(var(--button-flat-hover-lightness)));
      color: var(--primary-color);
    }
  }

  &.c-button--danger {
    color: var(--danger-color);

    &:not([disabled]):hover {
      background: color(var(--danger-color) l(var(--button-flat-hover-lightness)));
      color: var(--danger-color);
    }
  }

  &.c-button--success {
    color: var(--success-color);

    &:not([disabled]):hover {
      background: color(var(--success-color) l(var(--button-flat-hover-lightness)));
      color: var(--success-color);
    }
  }

  &.c-button--warning {
    color: var(--warning-color);

    &:not([disabled]):hover {
      background: color(var(--warning-color) l(var(--button-flat-hover-lightness)));
      color: var(--warning-color);
    }
  }
}

/**
 * outline style
 */
.c-button--outline {
  background-color: #fff;
  border: 1px solid currentColor;
  color: color(var(--button-default-color) l(var(--button-lightness-normal)));

  &.c-button--outline:not([disabled]):hover {
    color: #fff;
    background: color(var(--button-default-color) l(var(--button-lightness-normal)));
  }

  &:not([disabled]):hover {
    background: color(var(--button-default-color) l(var(--button-lightness-hover)));
    border-color: color(var(--button-default-color) l(var(--button-lightness-normal)));
  }
}

.c-button--outline.c-button--primary {
  color: var(--primary-color);

  &:not([disabled]):hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.c-button--outline.c-button--danger {
  color: var(--danger-color);

  &:not([disabled]):hover {
    background: var(--danger-color);
    border-color: var(--danger-color);
  }
}

.c-button--outline.c-button--success {
  color: var(--success-color);

  &:not([disabled]):hover {
    background: var(--success-color);
    border-color: var(--success-color);
  }
}

.c-button--outline.c-button--warning {
  color: var(--warning-color);

  &:not([disabled]):hover {
    background: var(--warning-color);
    border-color: var(--warning-color);
  }
}

/**
 * button and button
 */
.c-button + .c-button {
  margin-left: 8px;
}

/**
 * round button style
 */
.c-button--round {
  border-radius: 30px;
}

/**
 * sizing
 */
.c-button.is-xs,
.c-button-group.is-xs > .c-button{
  font-size: var(--form-font-xs);
  height: var(--form-height-xs);
  padding: 0 4px;

  & .c-icon:only-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-button.is-sm,
.c-button-group.is-sm > .c-button{
  font-size: var(--form-font-sm);
  height: var(--form-height-sm);

  & .c-icon:only-child {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.c-button.is-lg,
.c-button-group.is-lg > .c-button{
  font-size: var(--form-font-lg);
  height: var(--form-height-lg);

  & .c-icon:only-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-button.is-xl,
.c-button-group.is-xl > .c-button{
  font-size: var(--form-font-xl);
  height: var(--form-height-xl);
  padding: 0 16px;

  & .c-icon:only-child {
    margin-left: -3px;
    margin-right: -3px;
  }
}

/**
 * loading
 */
.c-button--loading {
  & .c-icon {
    animation: spin 2s infinite linear;
  }
}

