@import url('../../css/variables.css');

.c-button {
  display: inline-block;
  line-height: 2.4;
  padding: 0 1em;
  border: none;
  background: #738699;
  color: #fff;
  border-radius: 5px;
}

.c-button + .c-button {
  margin-left: 1em;
}

.c-button--primary {
  background: var(--primary-color);
  color: #fff;
}

.c-button--flat {
  background: none;
}
