/**
* c-range-slider
*/
@import url('../../css/variables.css');

.c-range {
  position: relative;
  border-radius: 0.25em;
  cursor: pointer;
}

.c-range--horizontal {
  height: 0.5em;

  & .c-range-thumb {
    top: 0;
    margin-top: -0.35em;
    transform: translateX(-50%);
  }

  & .c-range-progress {
    width: 0;
    height: 0.5em;
    border-radius: 0.25em;
  }
}

.c-range--vertical {
  width: 0.5em;
  height: 300px;

  & .c-range-thumb {
    left: 0;
    margin-left: -0.35em;
    transform: translateY(50%);
  }

  & .c-range-progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.25em;
  }
}

.c-range-thumb {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 3px solid var(--blue);
  border-radius: 50%;
  background-color: #fff;

  &:active {
    box-shadow: 0 0 0 0.15em color(var(--primary-color) l(80%));
  }
}
