/**
* c-breadcrumb
*/
@import url('../../css/variables.css');

.c-breadcrumb {
  color: color(var(--gray) l(70%));
  margin-bottom: 1em;

  & .c-breadcrumb__item {
    display: inline-block;

    &:last-child {
      color: color(var(--gray) l(50%));
    }

    & a {
      color: inherit;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  & .c-breadcrumb__divider {
    display: inline-block;
    padding: 0 0.5em;
  }
}
