/**
 * c-icon
 */
@import url('../../styles/variables.css');

i.c-icon {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/**
 * SEE  https://www.w3cplus.com/css/icon-align-to-text.html
 * and  https://codepen.io/airen/full/pZVvyL/
 */
span.c-icon {
  display: inline-flex;
  align-items: center;
}

