/**
 * c-icon
 */
@import url('../../styles/variables.css');

i.c-icon {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

span.c-icon {
  display: inline-block;
  line-height: 0;
}
