/**
* c-ctrl
*/
@import url('../../css/variables.css');

.c-ctrl {
  position: relative;
  cursor: pointer;
}

.c-ctrl__pointer {
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px -2px #aaa;
}

.c-ctrl__pointer---transparent {
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.c-ctrl__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e6edf2;
  border-radius: 8px;
}
