:root {
  /*
   *  颜色设置
   */
}
/**
 * an custom.css placeholder, leave this file empty
 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
caption,
th {
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q::before,
q::after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
textarea,
input,
button,
select,
table {
  font-size: inherit;
  font-family: inherit;
}
body {
  background: #fff;
}
a {
  color: inherit;
  outline-style: none;
}
a:hover {
  color: inherit;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.c-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.5em;
  margin-right: -0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row
}
.c-row > .c-flex,
  .c-row > .c-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.c-row > .c-col {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* stylelint-disable function-whitespace-after */
.c-row > .c-col-1 {
    width: 8.33333%;
  }
.c-row > .c-col-2 {
    width: 16.66667%;
  }
.c-row > .c-col-3 {
    width: 25%;
  }
.c-row > .c-col-4 {
    width: 33.33333%;
  }
.c-row > .c-col-5 {
    width: 41.66667%;
  }
.c-row > .c-col-6 {
    width: 50%;
  }
.c-row > .c-col-7 {
    width: 58.33333%;
  }
.c-row > .c-col-8 {
    width: 66.66667%;
  }
.c-row > .c-col-9 {
    width: 75%;
  }
.c-row > .c-col-10 {
    width: 83.33333%;
  }
.c-row > .c-col-11 {
    width: 91.66667%;
  }
/**
 * typography
 */
.x-large {
  font-size: 3em;
}
.large {
  font-size: 1.5em;
}
.small {
  font-size: 0.875em;
}
.x-small {
  font-size: 0.75em;
}

.c-button {
  display: inline-block;
  line-height: 2;
  padding: 0 1em;
}

.c-button--primary {
  background: var(--primary-color);
  color: #fff;
}

.c-button--flat {
  background: none;
}
