/**
* c-datepicker
*/
@import url("../../styles/variables.css");

.c-datepicker {
  display: inline-block;
  position: relative;
  border-radius: 0.2em;
  width: 15em;
  cursor: pointer;

  & .c-input-wrap {
    width: 100%;
  }

  & input {
    margin: 0;
    width: 100%;
  }

  &:hover .c-datepicker__hovericon + .c-datepicker__icon {
    z-index: -1;
    opacity: 0;
  }

  &:hover .c-datepicker__hovericon {
    z-index: 2;
    opacity: 1;
  }
}

.c-datepicker__icon {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: color(var(--text-color) l(65%));
}

.c-datepicker__hovericon {
  z-index: -1;
  opacity: 0;
}

.c-datepicker__panel {
  box-shadow: 2px 2px 0.5em 0 color(var(--gray) l(95%));
  overflow: hidden;

  &.withBorder {
    border: 1px solid rgb(214, 217, 219);
    border-radius: 0.2em;
  }

  & .c-calendar {
    border: 0;
    box-shadow: none;
  }
}

.c-datepicker__panel .c-datepicker__range {
  background: color(var(--white));
  padding: 1em;
  font-size: 14px;

  &.is-sm {
    font-size: 12px;

    & .c-calendar {
      font-size: 12px;
    }
  }

  &.is-md {
    font-size: 14px;

    & .c-calendar {
      font-size: 14px;
    }
  }

  &.is-lg {
    font-size: 16px;

    & .c-calendar {
      font-size: 16px;
    }
  }
}

.c-datepicker__content {
  display: inline-block;
}

.c-datepicker__content + .c-datepicker__content {
  margin-left: 1em;
}

.c-datepicker__body .c-calendar {
  display: inline-block;
  border: 0;
  box-shadow: none;
  padding: 0;
}

.c-datepicker__text {
  text-align: center;
  margin: 0.5em 0;
}

.c-datepicker__btns {
  position: absolute;
  right: 1em;
  bottom: 1.5em;
  cursor: pointer;
}

.c-datepicker__sidebar {
  border-right: 1px solid #e4e4e4;
  box-sizing: border-box;
  padding-top: 6px;
  background-color: #fff;
  overflow: auto;
}

.c-datepicker__sidebar ul {
  padding: 0;
}

.c-datepicker__sidebar .optionbtn {
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  line-height: 28px;
  font-size: 14px;
  color: #606266;
  padding: 0 12px;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.c-datepicker__sidebar + .c-calendar {
  border: 0;
}

.withSidebar {
  background: #fff;
  border: 1px solid rgb(214, 217, 219);
  border-radius: 0.2em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
