/**
 * clair base
 */
@import url('./variables.css');

* {
  box-sizing: inherit;
}

ul {
  padding-left: 2em;
}

html {
  box-sizing: border-box;
  background: #fff;
  color: var(--text-color);
  font: var(--text-font);
}

pre,
code {
  font-family: var(--mono-font);
}

*:not(pre) > code {
  margin: 0 1px;
  background: color(var(--text-color) l(95%));
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
  border: 1px solid color(var(--text-color) l(90%));
}

pre {
  overflow: auto;
  background: color(var(--text-color) l(95%));
  padding: 1em;
  border-radius: 3px;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}
