@import url('variables.css');

/* stylelint-disable function-whitespace-after, at-rule-no-unknown */
@each $color in red, orange, yellow, green, cyan, blue, indigo, purple, pink, gray {
  @each $i in 1, 2, 3, 4, 5 {
    .is-bg-$(color)-$(i) {
      color: var(--text-color);
    }
  }

  @each $i in 6, 7, 8, 9, 10, 11, 12 {
    .is-bg-$(color)-$(i) {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

@each $color in red, orange, yellow, green, cyan, blue, indigo, purple, pink, gray {
  @each $light, $i in 100, 97, 92, 85, 77, 68, 57, 52, 45, 37, 29, 20, 10 {
    .is-text-$(color)-$(i) {
      color: color(var(--$(color)) l($(light)%));
    }
    .is-bg-$(color)-$(i) {
      background-color: color(var(--$(color)) l($(light)%));
    }
  }
}

.is-text-white {
  color: color(#f00 blackness(+20%));
}

.is-text-black {
  color: var(--black);
}

.is-text-dark {
  color: var(--dark);
}

.is-text-gainsboro {
  color: var(--gainsboro);
}

.is-text-light-gray {
  color: var(--light-gray);
}

.is-text-celadon {
  color: var(--celadon);
}

.is-text-pink-purple {
  color: var(--pink-purple);
}

.is-text-cyan {
  color: var(--cyan);
}

.is-text-blue {
  color: var(--blue);
}

.is-text-green {
  color: var(--green);
}

.is-text-yellow {
  color: var(--yellow);
}

.is-text-red {
  color: var(--red);
}

.is-bg-red {
  background-color: var(--red);
}

.is-bg-white {
  background-color: var(--white);
}

.is-bg-black {
  background-color: var(--black);
}

.is-bg-dark {
  background-color: var(--dark);
}

.is-bg-gainsboro {
  background-color: var(--gainsboro);
}

.is-bg-light-gray {
  background-color: var(--light-gray);
}

.is-bg-celadon {
  background-color: var(--celadon);
}

.is-bg-pink-purple {
  background-color: var(--pink-purple);
}

.is-bg-cyan {
  background-color: var(--cyan);
}

.is-bg-blue {
  background-color: var(--blue);
}

.is-bg-green {
  background-color: var(--green);
}

.is-bg-yellow {
  background-color: var(--yellow);
}
