:root {
  /**
   * text
   */
  --text-color: #444;
  --text-font: 14px/1.6 Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  --mono-font: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

  /*
   * basic color
   */
  --red: hsl(5, 72%, 63%);
  --orange: hsl(25, 75%, 58%);
  --yellow: hsl(45, 88%, 57%);
  --green: hsl(120, 45%, 54%);
  --cyan: hsl(185, 50%, 60%);
  --blue: hsl(210, 70%, 67%);
  --indigo: hsl(235, 45%, 65%);
  --purple: hsl(259, 45%, 60%);
  --pink: hsl(309, 31%, 64%);
  --gray: hsl(208, 6%, 53%);
  --white: #fff;
  --dark: #444;
  --black: #000;

  /**
   * functional color names
   */
  --primary-color: var(--blue);
  --success-color: var(--green);
  --warning-color: var(--yellow);
  --danger-color: var(--red);

  /**
   * grid layout
   */
  --grid-gap: 0;
  --container-padding: 24px;
  --container-margin: 24px;
  --container-size-sm: 600px;
  --container-size-md: 800px;
  --container-size-lg: 960px;

  /**
   * spacing
   */
  --spacing-none: 0;
  --spacing-unit: 16px;
  --spacing-xs: calc(var(--spacing-unit) / 4);
  --spacing-sm: calc(var(--spacing-unit) / 2);
  --spacing-md: var(--spacing-unit);
  --spacing-lg: calc(var(--spacing-unit) * 2);
  --spacing-xl: calc(var(--spacing-unit) * 4);

  /**
   * custom media for responsiveness
   */
  @custom-media --xs-up (width > 0);
  @custom-media --sm-up (width > 600px);
  @custom-media --md-up (width > 960px);
  @custom-media --lg-up (width > 1200px);
  @custom-media --xl-up (width > 1920px);
  @custom-media --xs-only (width <= 600px);
  @custom-media --sm-only (width > 600px) and (width <= 960px);
  @custom-media --md-only (width > 960px) and (width <= 1200px);
  @custom-media --lg-only (width > 1200px) and (width <= 1920px);
  @custom-media --xl-only (width > 1920px);

  /**
   * table
   */
  --table-border-color: #ddd;
  --table-cell-padding: 0.5em 1em;

  /**
   * button
   */
}
