@import url('variables.css');

.c-row {
  display: flex;
  flex-direction: row;

  & > .c-flex,
  & > .c-spacer {
    flex: 1;
  }

  & > .c-col {
    padding-left: calc(var(--grid-gap) * 0.5);
    padding-right: calc(var(--grid-gap) * 0.5);
  }

  & > .c-col:first-child {
    padding-left: 0;
  }

  & > .c-col:last-child {
    padding-right: 0;
  }

  & > .no-gap {
    padding-left: 0;
    padding-right: 0;
  }
}

/* stylelint-disable function-whitespace-after */
@for $i from 1 to 11 {
  .c-row > .c-col-$i {
    width: calc($i / 12 * 100)%;
  }
}
