@import url('./variables.css');

/**
 * typography sizing
 */
.is-size-xxl {
  font-size: 28px;
}

.is-size-xl {
  font-size: 20px;
}

.is-size-lg {
  font-size: 16px;
}

.is-size-md {
  font-size: 14px;
}

.is-size-sm {
  font-size: 13px;
}

.is-size-xs {
  font-size: 12px;
}

.is-size-xxs {
  font-size: 10px;
}

.has-weight-bold {
  font-weight: bold;
}

.has-weight-normal {
  font-weight: normal;
}

.has-weight-light {
  font-weight: 100;
}

/**
 * text align
 */
.has-text-left {
  text-align: left;
}

.has-text-centered {
  text-align: center;
}

.has-text-right {
  text-align: right;
}

.has-text-justified {
  text-align: justify;
}

/**
 * line height
 */
.has-leading-xs {
  line-height: 1;
}

.has-leading-sm {
  line-height: 1.25;
}

.has-leading-md {
  line-height: 1.6;
}

.has-leading-lg {
  line-height: 2;
}

.has-leading-xl {
  line-height: 3;
}
