.vue-demo-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.vue-demo-block:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
}

.vue-demo-block > .vue-demo {
  margin: 2em;
}

.vue-demo-block > pre {
  margin: 0;
  padding: 0;
  height: 0;
  transition: height 0.2s linear;
  border-radius: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.vue-demo-block > pre > code {
  display: block;
  padding: 2em 2.5em;
}

.vue-demo-block > pre::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background-color: #eee;
}

.vue-demo-block > pre::-webkit-scrollbar-thumb {
  background: #cecece;
}

.vue-demo-block-demo-only,
.vue-demo-block-demo-only:hover {
  box-shadow: none;
}

.vue-demo-block-demo-only > * {
  display: none !important;
}

.vue-demo-block-demo-only > .vue-demo {
  display: block !important;
  margin: 0;
}

.vue-demo-tools {
  position: relative;
  z-index: 999;
}

.vue-demo-tools > input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  cursor: pointer;
}

.vue-demo-tools > label {
  display: block;
  cursor: pointer;
  font-size: 13px;
  line-height: 3;
  text-align: center;
  background: #fafafa;
}

.vue-demo-tools > label:hover {
  color: #2196f3;
  background: #eff3f6;
}

.vue-demo-tools > label::after {
  content: '⇓ 显示代码';
}

.vue-demo-tools > input:checked ~ label {
  border-bottom: 1px dashed #ddd;
}

.vue-demo-tools > input:checked ~ label::after {
  content: '⇑ 隐藏代码';
}

.vue-demo-tools > .vue-demo-tool-snippets {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 4px;
}

.vue-demo-tool-snippets {
  opacity: 0;
  transition: all 0.4s ease;
}
.vue-demo-tools > input:checked ~ .vue-demo-tool-snippets {
  opacity: 1;
}

.vue-demo-tools__icon {
  margin: 4px;
  cursor: pointer;
}

.vue-demo-tools__icon svg {
  stroke: #898989;
}

.vue-demo-tools__icon:hover svg{
  stroke: #498ff2;
}
