{
  "plugins": ["jest"],
  "env": {
    "mocha": true,
    "node": true,
    "jest": true,
    "browser": true,
    "jest/globals": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "clair"
  ],
  "globals": {
    "page": true,
    "browser": true,
    "jestPuppeteer": true
  }
}
