/**
* c-table
*/
@import url('../../css/variables.css');

.c-table__noresult {
  text-align: center;
}

.c-table > table {
  width: 100%;
  border: 1px solid color(var(--gray) l(85%));

  & th,
  & td {
    font-size: 0.875em;
  }

  & thead {
    & tr {
      background: color(var(--blue) l(98%));

      & th {
        color: color(var(--text-color) l(35%));
        font-weight: normal;

        &[colspan]:not([colspan="1"]) {
          text-align: center;
          border: 1px solid color(var(--gray) l(85%));
        }
      }
    }
  }

  & tbody {
    & tr {
      border-bottom: 1px solid color(var(--gray) l(85%));

      & td {
        &.c-table__bl {
          border-left: 1px solid color(var(--gray) l(85%));
        }

        &.c-table__br {
          border-right: 1px solid color(var(--gray) l(85%));
        }
      }
    }
  }
}
