/**
* c-pop-confirm
*/
@import url('../../styles/variables.css');

.c-pop-confirm {
  padding: 0;
}

.c-pop-confirm__body {
  margin: 0;
}

.c-pop-confirm__footer {
  text-align: right;
  margin-top: var(--spacing-sm);
}
