/**
* c-tree
*/
@import url('../../css/variables.css');

.c-tree__title {
  display: flex;
  cursor: pointer;
  line-height: 1.8;
  padding-top: 0.3em;
  padding-bottom: 0.3em;

  &.is-leaf {
    margin-left: 1.4em;
    padding-left: 0.4em;
  }

  & .c-icon {
    padding: 0.4em;
  }

  & .c-checkbox {
    line-height: 24px;
    margin-right: 0.3em;
  }

  &:hover {
    background: color(var(--primary-color) l(98%));
  }
}

.c-tree__label {
  flex: 1;
}

.c-tree_children {
  margin-left: 1.4em;
}
